.gridTop {
  display: grid;
  margin: 40px auto;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0px;
  /* grid-template-rows: min-content 1fr;  */
  /*wow*/
  /* grid-auto-rows: min-content; */
}
.topHeading {
  grid-column: 2/2;
  grid-row-start: 1;
  font-size: 2.5em;
  font-family: "Bree Serif";
}
.card {
  margin: 20px auto;

  /* height: 800px; */
  width: max(32vw,320px);
  height: fit-content; /*its very usefull*/

  padding-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.25em 0.5em 0 rgba(17, 12, 10, 0.342),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.295) !important;
  /* padding: 0px 20px; */

  /* grid-row: 2/minmax(min-content, max-content); */
}
.mainImg {
  position: relative;
}
.imgLayer {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.bodyImg {
  margin: 20px auto;
  height: 400px;
  display: block;
  filter: grayscale(100%);

  transition: all 0.3s ease-in-out 0s;
}
.card:hover .bodyImg {
  filter: grayscale(0%);
}
.topic {
  font-size: 2em;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  margin: 0%;
}
.topLine {
  padding: 0%;
  margin: 0%;
  width: 85%;
  margin: auto;
}

.bodyText {
  margin: 0px 20px 20px 20px;
  font-size: 1em;
  color: azure;
}
/* #g2{
    grid-row-start: 2;
} */
#gd1 {
  grid-column: 1/1;
  grid-row-start: 1;
  grid-row-end: 8; /*here its broken, if i put fit-content ... etc*/
  /* margin: 0px auto; */
}
#gd2 {
  grid-column: 2/2;
  grid-row-start: 3;
  grid-row-end: fit-content;
  /* margin: 0px auto; */
}
#gd3 {
  grid-column: 1/1;
  grid-row-start: 9;
  grid-row-end: fit-content;
  /* margin: 0px auto; */
}
#gd4 {
  grid-column: 2/2;
  grid-row-start: 10;
  grid-row-end: fit-content;
  /* margin: 0px auto; */
}
@-webkit-keyframes shine {
  0%,
  10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}
@media only screen and (max-width: 650px) {
  .gridTop {
    display: block;
    margin: 5px auto;
  }
  .card {
    display: block;
    width: 70vw;
    margin-bottom: 100px;
  }
}
